@use './../../scss/' as *;
    .first-section {
        max-width: 490px;
        background-image:  url('../../assets/images/items/tiendaOnline.png');
        padding: 52px 60px 52px 60px;
        height: 490px;
        margin-left: auto;
        margin-top: 40px;
        border-radius: 360px;
        box-shadow: 0px 1px 100px 100px rgb(62, 59, 59);

        @include tablet {
            margin-right: auto;
        }

        @include mobile {
            background-image:  url('../../assets/images/items/naveMovil.png');
            padding: 52px 20px 52px 20px;
            max-width: 350px;
            height: 350px;

        }
    }
    
   //.fondo{
    //#fondo-home{
    //    background-image: url('../../assets/images/items/fondo.png');
    //}
   //}

    .button-action {
        margin-top: 40px;

        .style-2.btn-action {
            padding: 15px 41px;
        }
    }

      
      