$principal: #161616;
$body-bg: #000000;
$second-bg: #fa3c5a;
$main-color: #f4908a;
$main-color-hover: #de3700;
$txt-color: #000;
$txt-second-color: #757474;
$white: #fff;
$grey: #212021;
$menu-hover: rgb(54, 116, 6);
$pink:#f4908a ;

$font-main: "Gilroy-Bold";
$font-second: "Lucida Console";

$bg-item-1 : #26b8c3;
$bg-item-2 : #26b8c3;
$bg-item-3 :#26b8c3;

$header-height: 170px;
$header-shrink-height: 90px;

$mobile-width: 767px;
$tablet-width: 1024px;
$desktop-width: 1200px;
$desktop-1350: 1350px;
$desktop-1500: 1500px;
$desktop-1900 : 1900px;


$box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
$bg-overlay: rgba(0,0,0,0.5);